      
      *{
        font-family: 'Montserrat', sans-serif;
        padding: 0%;
        margin: 0%;
      }

      body{
        height: 100vh;
      }
      
      .custom-text{
        width: 100%;
      }
      
      .container-upload{
         text-align: center;
         align-items: center;
         position: relative;
         top: -40px;
      }
      .container-upload.active{
         border: 2px solid black;
      }
      .container-upload.remove{
         border: 2px solid black;
      }

      .image-container{
        background-color:#F8FCFF;
        padding: 0rem 5rem;
      }

       .file{
        position: relative;
        left: 120px;
        padding-bottom: 20px;
        
       }

       .p2{
        position: relative;
        left: 55px;

       }
      .p1{
        position: relative;
        top: -15px;
        left: 15px;
      }
      


      .container-main{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem 2rem;
        }
        .image{
            padding: 4rem;
            margin-bottom: 30px;
            
        }
        .file-image{
           width: 50px;
           margin-bottom: -10px;
           margin-top: -40px;
          
        }
        .text{
            padding-bottom: 10px;

        }

        .button1{
            margin-top: 30px; 
            text-align: center;
        }
        .button{
          color: white;
          border: none;
          padding: 6px 18px;
          background-color:#2B52D6 ;
          border-radius: 4px;
        }

        .btn2{
          color:#2B52D6;
          border: 2px solid #2B52D6;
          position: relative;
          top: -10px;
          padding: 6px 50px;
          background-color:white ;
          border-radius: 4px;
        }
      .header1{
        display: flex;
        justify-content: center;
        align-items: center;
      
      }
      .logo{
        width: 250px;
        padding-top: 20px;
      }
      .custom-text{
        font-size: small;
      }
        
          